<!-- Feeds page -->

<!-- side nav -->
<div id="mySidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()">&times;</a>

    <div id="MainProfileInfo" >
        <div class="profileImg text-center">
            <img id="profileImg" ng-src={{imgLink}} class="img-circle" width="80" height="80">
        </div>

        <div id="mainUserInfo" ng-click="openSubInfo()" class="text-center dropdown" style="color: dimgrey; font-size: 22px">
            <div class="dropdown-toggle" data-toggle="dropdown" ng-click="rotateCaret()">
                {{identity}}
                <span class="caret"></span>
            </div>
            <ul style="width: 100%" class="dropdown-menu dropdown-menu-right">
                <li ng-click="signOut()"><a class="text-center">Sign Out</a></li>
            </ul>
        </div>

    </div>

    <a ng-repeat="x in tags" ng-click="filterFeeds(x)">{{x}}</a>
</div>

<!-- content area -->
<div id="main">
    <!-- open side nav -->
    <div id="topDiv">
        <span id="open" style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>
        <button class="btn btn-primary" ui-sref="new">New Feed</button>
    </div>
    <!-- feeds -->
    <div class="col s12 m7" ng-repeat="x in feeds" style="margin-top: 20px">



        <!--<div class="card">-->
            <!--<div>-->
                        <!--<p>I am a very simple card. I am good at containing small bits of information.</p>-->
                    <!--</div>-->
                    <!--<div class="dropdown">-->
                        <!--<div class="input-group dropdown-toggle" data-toggle="dropdown">-->
                            <!--<div class="input-group-addon" ng-repeat="k in addedTags">-->
                                <!--<span>{{k}}</span>-->
                                <!--<span class="glyphicon glyphicon-remove" ng-click="removeTag(k)"></span>-->
                            <!--</div>-->

                            <!--<input id="tagInput" class="form-control" type="text" ng-model="searchTag">-->
                        <!--</div>-->
                        <!--<ul class="dropdown-menu" ng-show="searchTag.length">-->
                            <!--<li ng-repeat="n in tagRefine | filter: searchTag"><a ng-click="addTag(n)">{{n}}</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<a href="#">This is a link</a>-->
                    <!--</div>-->
        <!--</div>-->

        <div class="feed" ui-sref="feed({ id: '{{feedId}}'})">
            <div class="upvote">
        </div>
            <div class="feedDetails">
                <div class="title">
                    {{x.title}}
                </div>
                <div class="tagChips">
                    <div class="tag" ng-repeat="t in x.tags">
                        {{t}}
                    </div>
                </div>
                <div class="hr"></div>
                <div class="author">
                    @{{x.author}}
                </div>
            </div>
        </div>

    </div>

</div>


 <!--open and close side nav-->
<script>
    var openNav = function () {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "350px";
        $('#open').css('opacity','0');
        $('#open').css('cursor','default');
    };

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        $('#open').css('opacity','1');
        $('#open').css('cursor','pointer');
    }

</script>