<!-- Home Page -->

<!-- App description -->
<div id="description" class="text-left">
    <h2>Welcome to the <strong>Web</strong> of <strong>Feeds</strong></h2>
</div>

<!-- Authentication fields -->
<div ng-controller="homeController" style="width: 100%">

    <div class="auth">
        <div class="nav-auth" role="navigation">
            <!-- navigation -->
            <ul class="nav nav-tabs">
                <li role="presentation" id="logIn" class="active"><a ng-click='changeForm()' role="tab" data-toggle="tab">LOG IN</a></li>
                <li role="presentation" id="signUp"><a ng-click='changeForm()' role="tab" data-toggle="tab">SIGN UP</a></li>
            </ul>
            <!-- forms -->
            <div class="form">

                <!-- login form -->
                <form ng-show="toggle" name="loginForm">
                    <span class="text-danger text-center form-group" ng-show="invalidLogin">Username or Password may be invalid</span>
                    <!-- username -->
                    <div class="form-group">
                        <input class="form-control" name="username" type="text" ng-model="username" placeholder="Username" required>
                        <span class="text-danger" ng-show="loginForm.username.$invalid && loginForm.username.$touched">This is required</span>
                    </div>
                    <!-- password -->
                    <div class="form-group">
                        <input class="form-control" name="password" type="password" ng-model="password" placeholder="Password" required>
                        <span class="text-danger" ng-show="loginForm.password.$invalid && loginForm.password.$touched">This is required</span>
                    </div>
                    <!-- login button -->
                    <div class="form-group text-center">
                        <button class="btn btn-primary" ng-click="loginButton()" ui-sref="feeds">LOG IN</button>
                    </div>
                </form>

                <!-- sign up form -->
                <form ng-hide="toggle" name="signupForm">
                    <span class="text-danger text-center form-group" ng-show="unableSignup">Unable to Sign Up. Please try again.</span>
                    <!-- username -->
                    <div class="form-group">
                        <input class="form-control" name="username" type="text" ng-model="username" placeholder="Username" required>
                        <span class="text-danger" ng-show="signupForm.username.$invalid && signupForm.username.$touched">This is required</span>
                        <span class="text-danger" ng-show="dupUsername">Username already in use</span>
                    </div>
                    <!-- password -->
                    <div class="form-group">
                        <input class="form-control" name="password" type="password" ng-model="password" placeholder="Password" required>
                        <span class="text-danger" ng-show="(password.length < 5 || password.length > 15 || signupForm.password.$invalid) && signupForm.password.$touched">Password must be between 5 and 15 characters</span>
                    </div>
                    <!-- name -->
                    <div class="form-group">
                        <input class="form-control" name="name" type="text" ng-model="name" placeholder="Name" required>
                        <span class="text-danger" ng-show="signupForm.name.$invalid && signupForm.name.$touched">This is required</span>
                    </div>
                    <!-- email -->
                    <div class="form-group">
                        <input class="form-control" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-model="email" placeholder="Email" required>
                        <span class="text-danger" ng-show="signupForm.email.$invalid && signupForm.email.$touched">Should be like example@ex.com</span>
                    </div>
                    <!-- sign up button -->
                    <div class="form-group text-center">
                        <button class="btn btn-primary" ng-click="signupButton()">SIGN UP</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- log in with social media account -->
        <div class="social">
            <div  style="padding: 5%; font-size: 30px; color: white;" class="text-center socialDescription">Login with your social account</div>

            <!-- google sign in -->
            <div class="g-signin2" style="margin: 10%" data-onsuccess="onSignIn" data-redirecturi="https://mo-devteam.github.io/#/feeds"></div>
        </div>
    </div>

</div>