<div>
    Hello
    Sup the whack playstation, sup?
</div>
<div>
    <div class="auth">
        <div class="nav-auth" role="navigation">
            <ul class="nav nav-tabs">
                <li role="presentation" id="logIn" class="active"><a role="tab" data-toggle="tab">LOG IN</a></li>
                <li role="presentation" id="signUp"><a role="tab" data-toggle="tab">SIGN UP</a></li>
            </ul>
            <div class="form">
                <div id="loginForm" ng-show="true">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>
                    <div class="text-center">
                        <button type="button" style="margin-top: 2%" class="btn btn-primary">
                            LOG IN
                        </button>
                    </div>
                </div>
                <div id="signupForm" ng-show="showSignup">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="text-center">
                        <button type="button" style="margin-top: 2%" class="btn btn-primary">
                            SIGN UP
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="social">
            <div>Login with your social account</div>
            <div class="g-signin2" data-onsuccess="onSignIn"
                 -theme="light" data-width="300" data-height="50"
                 data-longtitle="true">button</div>
        </div>
    </div>

</div>