<!-- Home Page -->

<!-- App description -->
<div id="description">
    Hello
    Sup the whack playstation, sup?
</div>

<!-- Authentication fields -->
<div ng-controller="homeController">

    <div class="auth">
        <div class="nav-auth" role="navigation">
            <!-- navigation -->
            <ul class="nav nav-tabs">
                <li role="presentation" id="logIn" class="active"><a ng-click='changeForm()' role="tab" data-toggle="tab">LOG IN</a></li>
                <li role="presentation" id="signUp"><a ng-click='changeForm()' role="tab" data-toggle="tab">SIGN UP</a></li>
            </ul>
            <!-- forms -->
            <div class="form">
                <!-- login form -->
                <div id="loginForm" ng-show="toggle">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        <input type="password" class="form-control" placeholder="Password" aria-desscribedby="basic-addon1">
                    </div>
                    <div class="text-center">
                        <button type="button" style="margin-top: 2%" class="btn btn-primary">
                            LOG IN
                        </button>
                    </div>
                </div>
                <!-- sign up form -->
                <div id="signupForm" ng-hide="toggle">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                        <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                    </div>
                    <div class="text-center">
                        <button type="button" style="margin-top: 2%" class="btn btn-primary">
                            SIGN UP
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- log in with social media account -->
        <div class="social">
            <div>Login with your social account</div>

            <!-- google sign in -->
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </div>

</div>