

/* navbar*/
.navbar-brand{
    color: rgba(255,255,255,0.75);
    font-size: x-large;
    display: flex
}



/* main container view */
.container2 {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}


/* App description*/
#description{
    margin: 1% 0 2% 0;
}


/* Authentication */
.auth {
    display: flex;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
    background: #fefefe;
    border-radius: 0;
    overflow: hidden;
}
    /* navigation */
.nav-auth {
    width: 50%;
    padding: 2%;
}
#logIn,#signUp:hover{
    cursor: pointer;
}

    /* input fields */
.form-group {
    margin: 4% 0 2% 0;
}
    /* social media account login */
.social {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("images/social.jpeg");
}

