

/* navbar*/
.navbar-brand{
    color: rgba(255,255,255,0.75);
    font-size: x-large;
    display: flex
}





/* main container view */
.container2 {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}





/* App description*/
#description{
    margin: 1% 0 2% 0;
}




/* Authentication */
.auth {
    display: flex;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
    background: #fefefe;
    border-radius: 0;
    overflow: hidden;
}
    /* navigation */
.nav-auth {
    width: 50%;
    padding: 2%;
}
#logIn,#signUp:hover{
    cursor: pointer;
}

    /* input fields */
.form-group {
    margin: 4% 0 2% 0;
}
    /* social media account login */
.social {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("images/social.jpeg");
}






/* Side Navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 51px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
    /* sidenav links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
    /* side nav close button */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
    /* content area */
#main {
    transition: margin-left .5s;
    width: 100%;
}
    /* sidenav open */
#open {
    transition: opacity .4s;
}

/* responsive */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px; }
    .sidenav a {font-size: 18px;}
}
